{
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": ["plugin:prettier/recommended"],
	"plugins": ["prettier"],
	"ignorePatterns": ["node_modules/"],
	"rules": {
		"prettier/prettier": ["error", { "endOfLine": "auto" }]
	}
}
