@import 'avatar.css';
@import 'banner.css';
@import 'skillbar.css';
@import 'namecomp.css';

:root {
	--gray: #58585a;
	--main1: #e7e7e9;
}

.petar-temp--wrp * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cv-skillbar-inner {
	margin: 0 7px;
}

.petar-temp--wrp {
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--gray);
	width: 55%;
	min-width: 1000px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.3) 0px 3px 6px;
}

.cv--top-row {
	background: repeating-linear-gradient(
			180deg,
			var(--gray) 1px,
			transparent 5px
		),
		repeating-linear-gradient(60deg, var(--gray), #181818 1px);
	min-height: 300px;
	color: white;
	padding: 20px 30px;
	border-bottom: 6px solid rgb(31, 31, 31);
}

.cv-name-container {
	font-size: 3.2rem;
}
.name-comp-span {
	margin-right: 20px;
}
.name-comp-letter {
	margin-right: 1px;
}
.cv-bio-section h3 {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 10px 0;
}
.cv-bio-section p {
	text-align: justify;
}
.cv-title {
	border-bottom: 3px solid #40bf61;
	font-size: 1.5rem;
	padding-bottom: 5px;
}

/* ------- BOTTOM -------- */

.cv-bot-r-col {
	width: 33%;
	min-width: 330px;
	background-color: var(--gray);
	padding-top: 40px;
	border-right: 6px solid rgb(31, 31, 31);
}

.cv-skills-section {
	position: relative;
	border-bottom: 5px solid #333;
}

.cv-skills {
	margin: 40px 0;
	padding: 0 40px 0 30px;
}

.cv-skill-component {
	height: 60px;
}

.cv-skill-component h3 {
	font-size: 1.2rem;
	color: white;
	margin-bottom: 5px;
}

.cv-contact-heading {
	position: absolute;
	bottom: -40px;
	left: 50%;
	width: 120px;
	height: 60px;
	border-radius: 10px 10px 40px 40px;
	background-color: var(--gray);
	transform: translateX(-50%);
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	padding-bottom: 5px;
	border-bottom: 5px solid #333;
	z-index: 2;
}

.cv-info-section {
	padding: 50px 20px 20px 20px;
	background-color: rgb(189, 189, 189);
}

.cv-contact-section {
	position: relative;
	border-bottom: 3px solid #333;
}

.cv-contact-icon {
	margin-right: 5px;
	color: #333;
}

.cv-contact-component {
	margin-bottom: 10px;
	color: #333;
	overflow-wrap: anywhere;
}

.cv-social-section {
	margin-top: 10px;
}

.cv-info-text {
	font-size: 1.3rem;
}

.cv-social-section .cv-contact-icon,
.cv-social-section .cv-info-text {
	color: #333;
}

/* ------ MAIN CONTENT ------ */

.cv-main-content {
	background-color: white;
}

.we-header-left {
	width: 120px;
	background-color: var(--main1);
	flex: 0 1 auto;
}

.we-content-left {
	width: 120px;
	background-color: var(--main1);
	color: #333;
	flex: 0 1 auto;
}

.we-icon-container,
.ac-icon-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: var(--gray);
	color: white;
}

.we-header-right {
	padding: 0 20px;
	flex: 1;
}

.we-content-right {
	flex: 1;
	background-color: white;
	padding: 0 20px 20px 25px;
}

.we-content-heading {
	font-size: 2rem;
	color: #333;
	padding: 30px 0;
}

.we-company-school,
.we-jobTitle-degree {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 2px 0;
}

.we-desc {
	text-align: justify;
}

.cv-work-exp-section {
	border-bottom: 2px solid var(--main1);
}

.main-content-bot h2 {
	padding-left: 20px;
	font-weight: bold;
	font-size: 1.8rem;
}

.main-content-bot h4 {
	overflow-wrap: anywhere;
}

.ac-heading-group {
	background-color: rgb(148, 216, 154);
	padding: 10px 0;
}

.achieve-section,
.cert-section {
	width: 50%;
	border-bottom: 2px solid var(--main1);
}
.cert-section {
	border-right: 1.5px solid var(--main1);
}
.achieve-section {
	border-left: 1.5px solid var(--main1);
}

.ac-group {
	margin: 10px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--main1);
}

.ac-subgroup {
	margin-bottom: 10px;
}

.ac-labels {
	font-weight: 400;
}

.ac-icon-container {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	background-color: white;
}

.ac-icon-container i {
	color: #333;
}

.left-filler {
	width: 120px;
	height: 100%;
	background-color: var(--main1);
}

/* ------ MEDIA QUERIES ------ */

@media only screen and (max-width: 650px) {
	.petar-temp--wrp {
		min-width: 300px;
		width: 100%;
		margin: 0;
	}
	.cv--top-row {
		flex-direction: column;
	}
	.cv-avatar-wrp {
		min-width: unset;
		width: 260px;
		margin-bottom: 20px;
	}
	.cv--bot-row {
		flex-direction: column-reverse;
	}
	.cv-bot-r-col {
		width: 100%;
	}
	.cv-main-content {
		border-bottom: 6px solid #40bf61;
	}
	.main-content-bot {
		flex-direction: column;
	}
	.main-content-bot section {
		width: 100%;
	}
}
