@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap");

.acc-page-wrapper {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  position: relative;
}

.action-message {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 138, 0);
  box-shadow: 0 0 4px 0.5px rgb(90, 90, 90);
  color: white;
  height: 40px;
  font-size: 1.1rem;
  opacity: 0;
}

.acc-page-wrapper > form {
  box-sizing: border-box;
  width: 50%;
  height: 580px;
  max-width: 930px;
  min-width: 750px;
  margin: 55px auto 50px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px 80px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 15px 0px;
}

.acc-page-wrapper form input {
  height: 50px;
  background-color: #ebf4fc;
  border: 1px solid #bfdaf6;
  border-radius: 8px;
  padding-left: 15px;
  font-size: 1rem;
  color: #333333;
  box-sizing: border-box;
}

.acc-page-wrapper form input:hover {
  border: 1px solid #333;
}

.acc-page-wrapper form input:focus {
  outline: none;
  border: 2px solid #333;
}

.input-heading {
  color: #a5a5a5;
  font-size: 10px;
  margin: 0 0 7px 0;
  line-height: 14px;
}

.acc-top-section {
  display: flex;
  justify-content: space-between;
}

.acc-top-section input {
  width: 100%;
}

.acc-top-section .left-col {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
}

.acc-page-wrapper > form h2 {
  font-size: 1.5rem;
  color: #444444;
  margin-bottom: 40px;
}

.acc-top-section .right-col {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
  align-items: center;
}

.acc-top-section .right-col .acc-avatar {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-size: cover;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.avatar-wrapper > .button {
  border: none;
  background-color: transparent;
  color: #4d99e0;
  text-decoration: underline;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: none;
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 1rem;
}

.avatar-wrapper > .button:focus {
  outline: none;
}

.avatar-wrapper > .button:hover {
  background-color: inherit;
  color: #0c82f0;
  font-size: 0.9rem;
}

.acc-bottom-section .inputdiv input {
  width: 100%;
}

.acc-bottom-section button {
  width: auto;
  height: 42px;
  padding: 5px 30px;
}

.acc-bottom-section button:focus {
  outline: none;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  height: 25px;
  margin-bottom: 20px;
}

.checkbox-wrapper input {
  width: 15px;
}

.checkbox-wrapper label {
  font-size: 0.9rem;
  margin-left: 5px;
}

@media screen and (max-width: 750px) {
  .acc-page-wrapper > form {
    width: 100%;
    height: 720px;
    min-width: 250px;
  }

  .acc-page-wrapper > form h2 {
    text-align: center;
  }

  .acc-top-section {
    flex-direction: column-reverse;
  }

  .acc-top-section .right-col {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .acc-page-wrapper > form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
