/* CV TEMPLATE START*/
HTML{
	height: 100%;
}
.bodi {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFE5CC;
	height:1450px;
	margin: 0%;
}
#wrapper{
	display: flex;
	flex-direction: column;
	width:80%;
    height:85%;
	background-color: white;
	transition: all 0.4;
	border: 1px solid black;

}
.profile{
	display: flex;
	flex-direction: row;
	height:30%;
	transition: all 0.3;
}
.image{
    width:90%;
	height:100%;
}
.about{
	transition: all 0.3;
}
.about-2{
	margin:0px 30px 0px 30px;
}
h2{
	padding-top: 30px;
	margin: 0%;
}
.hr{
	background-color: #FDD85E;
	height: 3px;
    margin-right: 670px;
}
.h3{
	margin: 0%;
	margin-bottom: 5px;
}
p, ul {
	margin: 0%;
	margin-right: 50px;
}
ul{
	margin-bottom: 10px;
}
.names{
	display: flex;
	flex-direction: row;
	background-color: #FDD85E;
	height:15%;
	align-items: center;
}
.job{
	display: flex;
	background-color: black;
	height:33%;
	flex-basis: 35%;
}
.jobName{
	display: flex;
	color:white;
	align-items: center;
	padding-left: 40px;
	font-size: 20px;
}
.name{
	display:flex;
	flex-direction: row;
	margin-left: 20px;
	font-size: 30px;
}
.wraperrow{
	display: flex;
	flex-direction: row;
	height: 55%;
}
.col-1, .col-2{
	display: flex;
	flex-direction: column;
}
.col-1{
	width:40%;
	height:100%;
}
.contact{
	display: flex;
	flex-grow: 0.1;
	width:100%;
	flex-direction: column;
}
.expertise{
	display: flex;
	flex-grow: 0.4;
	width:100%;
	flex-direction: column;
}
.education{
	display: flex;
	flex-grow: 0.6;
	width:100%;
	flex-direction: column;
}
.contact{
	background-color:#8B8080;
}
.expertise{
	background-color: #655A5A;
}
.education{
	background-color: black;
}
.row{
	display: flex;
	flex-direction: row;
}
.phone-icon{
	width:24px;
	height:24px;
}
.title, .phone-icon{
	color:black;
    padding: 10px 0px 10px 30px;
}
.fontsize{
    font-size: 22px;
}
.padding{
	padding:12px 0px 20px 15px;
}
.padding2{
	padding:12px 0px 20px 140px;
}
.padding3{
	padding:10px 0px 20px 140px;
}
.fill{
	width:150px;
	height:9px;
	border:1px solid #FDD85E;
	background-color: #655A5A;
	margin:13px 0px 0px 45px;
}
.fill-percent{
	width:90%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent2{
	width:40%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent3{
	width:10%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent4{
	width:80%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent5{
	width:30%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.white{
	color: white;
}
.titlewe{
	background-color: #FDD85E;
	height: 3px;
	width:180px;
	margin:0;
}
.titlewe-2{
	background-color: #FDD85E;
	height: 3px;
	width:115px;
	margin:0;
}
.work-exp{
	margin:10px 0px;
}
.job-title{
  margin-top:10px;
}
/* CV TEMPLATE END */
/* CV media querries 650 start*/
@media all and (max-width: 650px){
	body{
		display:flex;
		height:3500px;
	}
	#wrapper{
		width:90%;
		height:90%;
	}
	.profile{
		display:flex;
		flex-direction: column;
		width:100%;
		height:30%;
		align-content: center;
	}
    .image{
		width:100%;
		height:70%;
		margin:0;
	}
	.about{
		margin:0px 0px 100px 30px;
	}
	.names{
		display: flex;
		flex-direction: column;
		height:15%;
	}
	.job{
		width:100%;
	}
	.jobName{
		font-size: 50px;
	}
	.name{
		margin:60px 0px 0px 0px;
	}
	.wraperrow{
		display: flex;
		flex-direction: column;
	}
	.col-1{
		width: 100%;
		height:40%;
	}
	.padding3{
		padding-left: 5px;
	}
}
/* CV media querries 650 end*/
/* CV media querries 650 - 1000 start*/
@media all and (min-width:651px) and (max-width: 1000px){
	body{
		display:flex;
		height:2000px;
	}
	#wrapper{
		width:90%;
		height:90%;
	}
	.profile{
		display: flex;
		flex-direction: row;
		width:100%;
		height:30%;

	}
	.image{
		width:50%;
		height:100%;
		margin: 0;
	}
	.about{
		width:30%;
		margin:0;
	}
	#name{
		font-size: 60px;
	}
	.about-2{
		margin:0;
	}

    .phone-icon, .padding{
		padding-left: 0;
		font-size: 14px;
	}
    .padding3{
		padding-left: 5px;
	}
	.fill{
		margin-left: 10px;
	}
}
/* CV media querries 650 - 1000 end*/
