.mv-layout {
  font-family: Avenir;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* A4 Format */
  /* height: 297mm;
  width: 210mm; */
  font-size: 12pt;
}

.mv-left {
  width: 35%;
  background-color: #C8E0D3;
  display: flex;
  flex-direction: column;
}

.mv-name-box {
  padding: 5%;
}

.mv-name {
  text-transform:uppercase;
  text-align: center;
  padding: 20px;
  font-size: 18pt;
  font-weight: bold;
  border: 1px white solid;
}

.mv-info {
  padding: 0px 10px 44px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.mv-info-title {
  font-weight: 700;
  font-size: 14pt;
  margin: 30px 0px 15px 0px;
}

.mv-info-item {
  font-size: 12pt;
  margin-bottom:15px;
}

.mv-right {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mv-section {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  padding-bottom: 50px;
}

.mv-section-title {
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: 700;
  font-size: 14pt;
  border-left: 6px #C8E0D3 solid;
}

.mv-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.mv-dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  padding: 0px 20px 0px 16px;
  opacity: 60%;
  font-size: 11pt;
}

.mv-slash {
  padding: 0px 5px 0px 5px;
}

.mv-item-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 5px;
}

.mv-item-subtitle {
  font-weight: 700;
  padding-bottom: 5px;
}

i {
  padding-right: 3px;
  width: 16px;
  opacity: 40%;
}