/* CV TEMPLATE START*/
HTML{
	height: 100%;
}
.bodi {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFE5CC;
	height:400px;
	margin: 0%;
}
#wrapper{
	display: flex;
	flex-direction: column;
	width:100%;
    height:100%;
	background-color: white;
	transition: all 0.4;
	border: 1px solid black;

}
.profile{
	display: flex;
	flex-direction: row;
	height:40%;
	transition: all 0.3;
}
.image{
    width:100%;
	height:100%;
	margin: 5px 5px;
	border: 1px solid black;
	border-radius: 15px;
}
.about{
	transition: all 0.3;
}
.no-margin{
    margin: 0;
}
.margin-profile{
	margin:5px 0px 0px 15px;
}
.names{
	display: flex;
	flex-direction: row;
	background-color: #FDD85E;
	height:10%;
	align-items: center;
}
.job{
	display: flex;
	background-color: black;
	height:50%;
	flex-basis: 35%;
}
.jobName{
	display: flex;
	color:white;
	align-items: center;
	padding-left: 40px;
	font-size: 20px;
}
.name{
	display:flex;
	flex-direction: row;
	margin-left: 20px;
	font-size: 30px;
}
.wraperrow{
	display: flex;
	flex-direction: row;
	height: 50%;
}
.col-1{
    display: flex;
	width:100%;
	height:100%;
}
.contact{
	display: flex;
	flex-grow: 0,1;
	width:70%;
    flex-direction: column;
    background-color:#8B8080;
}
.expertise{
	display: flex;
	flex-grow: 0.3;
    width:100%;
    background-color: #655A5A;
	flex-direction: row;
}
.education{
	display: flex;
	flex-grow: 0.4;
	width:80%;
    flex-direction: row;
    background-color: black;
}
.black{
	color: black;
}
.row{
	display: flex;
	flex-direction: row;
}
.row-3{
	display: flex;
    flex-direction: row;
    width:50%;
    color: black;
    margin-top: 20px;
}
.row-2{
    display: flex;
    flex-direction: row;
    width:50%;
    color: white;
    margin-top: 20px;
}
.column{
    display: flex;
    flex-direction: column;
}
.padding{
    padding: 10px 0px 10px 0px;
}
.col{
    display: flex;
    flex-direction: column;
    color: white;
    width: 51%;
    margin:10px 0px 0px 5px;
}
.text-decoration{
	text-decoration: underline;
}
.col-3{
	display: flex;
    flex-direction: column;
    color: black;
    width: 49%;
    margin:10px 0px 0px 5px;
}
.col-4{
	display: flex;
    flex-direction: column;
    color: black;
    width: 51%;
    margin:10px 0px 0px 5px;
}
.col-2{
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    margin-left:15px;
}
.phone-icon{
	width:24px;
	height:24px;
}
.title, .phone-icon{
	color:black;
    padding: 10px 0px 0px 10px;
}
.fullname{
	padding:12px 0px 0px 15px;
	font-size: 35px;
}
.fontsize{
    font-size: 22px;
}
.padding-1{
    padding-top: 23px;
}
.padding{
	padding:12px 0px 0px 15px;
}
.padding2{
	padding:12px 0px 20px 140px;
}
.padding3{
	padding:10px 0px 20px 140px;
}
.fill{
	width:150px;
	height:9px;
	border:1px solid #FDD85E;
	background-color: #655A5A;
	margin:13px 0px 0px 45px;
}
.fill-percent{
	width:90%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent2{
	width:40%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent3{
	width:10%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent4{
	width:80%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.fill-percent5{
	width:30%;
	height:100%;
	background-color:#FDD85E;
	margin:0px;
}
.column-1{
	display: flex;
	flex-direction: column;
	flex-grow: 0.3;
}
.column-2{
	display: flex;
	flex-direction: column;
	flex-grow: 0.7;
}
.white{
    color: white;
}

.titlewe{
	background-color: #FDD85E;
	height: 3px;
	width:180px;
	margin:0;
}
.titlewe-2{
	background-color: #FDD85E;
	height: 3px;
	width:115px;
	margin:0;
}
.work-exp{
	margin:10px 0px;
}
.job-title{
  margin-top:10px;
}
/* CV TEMPLATE END */
/* CV media querries 650 start*/
@media all and (max-width: 650px){
	body{
		display:flex;
		height:3500px;
	}
	#wrapper{
		width:90%;
		height:90%;
	}
	.profile{
		display:flex;
		flex-direction: column;
		width:100%;
		height:30%;
		align-content: center;
	}
    .image{
		width:100%;
		height:70%;
		margin:0;
	}
	.about{
		margin:0px 0px 100px 30px;
	}
	.names{
		display: flex;
		flex-direction: column;
		height:15%;
	}
	.job{
		width:100%;
	}
	.jobName{
		font-size: 50px;
	}
	.name{
		margin:60px 0px 0px 0px;
	}
	.wraperrow{
		display: flex;
		flex-direction: column;
	}
	.col-1{
		width: 100%;
		height:40%;
	}
	.padding3{
		padding-left: 5px;
	}
}
/* CV media querries 650 end*/
/* CV media querries 650 - 1000 start*/
@media all and (min-width:651px) and (max-width: 1000px){
	body{
		display:flex;
		height:2000px;
	}
	#wrapper{
		width:90%;
		height:90%;
	}
	.profile{
		display: flex;
		flex-direction: row;
		width:100%;
		height:30%;

	}
	.image{
		width:50%;
		height:100%;
		margin: 0;
	}
	.about{
		width:30%;
		margin:0;
	}
	#name{
		font-size: 60px;
	}
	.about-2{
		margin:0;
	}

    .phone-icon, .padding{
		padding-left: 0;
		font-size: 14px;
	}
    .padding3{
		padding-left: 5px;
	}
	.fill{
		margin-left: 10px;
	}
}
/* CV media querries 650 - 1000 end*/

