.cvd-wrapper {
  font-family: Avenir, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
  background-color: rgb(238, 238, 238);
  min-height: 100vh;
}

.cvd-content {
  padding: 20px;
  max-width: 930px;
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
}

.cvd-section {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 15px 0px;
  padding: 50px 8.333%;
  box-sizing: border-box;
}

.cvd-h1 {
  color: rgb(51, 51, 51);
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.cvd-h2{
  color: rgb(136, 136, 136);
  font-family: Avenir;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.cvd-input{
  border: 1px solid rgb(164, 202, 242);
  border-radius: 8px;
  background-color: rgb(235, 244, 252);
  padding: 16px 20px;
  color: rgb(51, 51, 51);
  font-family: Avenir;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  box-shadow: none;
}

.cvd-input:focus {
  outline-width: 0;
}

.cvd-input:hover {
  border-color: rgb(53, 128, 208);
}

.cvd-submit {
  display: block;
  padding: 8px 30px;
  width: auto;
  font-weight: 900;
  font-size: 16px;
  font-family: Avenir;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  background-color: rgb(62, 148, 228);
  border: 1px solid rgb(62, 148, 228);
  transition: all 0.3s ease 0s !important;
  color: white !important;
  box-shadow: none;
  margin: 50px 0 0 auto;
}

.cvd-submit:hover {
  background-color: rgb(49, 125, 196);
  border: 1px solid rgb(49, 125, 196);
}

.holder {
  color:  rgb(160, 0, 0, 0);
}
