body {
  font-family: Avenir, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

.left-side {
  background-color: rgb(244, 247, 248);
  width: 45%;
  min-width: 520px;
}

.right-side {
  width: 55%;
  background-color: white;
  background-image: url("../images/background.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}

.text-content {
  padding: 130px 65px;
  min-width: 170px;
  max-width: 470px;
  margin: 0px 0px 0px auto;
  color:  rgb(170, 170, 170);
  font-size: 14px;
}

h1 {
  font-weight: 700;
  color: #333;
  font-size: 34px;
  line-height: 35px;
  margin: 0px 0px 15px;
}

h2 {
  font-weight: 500;
  margin-bottom: 50px;
}

a {
  color: #3e94e4;
  cursor: pointer;
  transition: color 0.2s linear;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #80b4e4;
}

form {
  width: 100%;
}

input {
  box-sizing: border-box;
  appearance: none;
  background-color:#fefefe;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: rgba(62, 148, 228, 0.15) 0px 2px 4px;
  font-size: 16px;
  font-family: Avenir, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
  line-height: 1.4em;
  padding: 13px 18px;
  width: 100%;
  color:  rgb(49, 49, 49);
  font-weight: 500;
}

::placeholder { 
  color: rgb(170, 170, 170);
  opacity: 1; 
}

input:hover {
  border-color: rgb(159, 158, 158);
}

#submit {
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: rgb(62, 148, 228);
  border: 1px solid rgb(62, 148, 228);
  transition: all 0.3s ease 0s;
  color: white;
}

#submit:hover {
  background-color: rgb(37, 134, 225);
  border-color: rgb(37, 134, 225);
}

.error {
  color: rgb(160, 0, 0);
  font-size: 12px;
  margin: 0;
  height: 22px;
  padding-top: 3px;
}

.holder {
  color:  rgb(160, 0, 0, 0);
}

@media screen and (max-width: 600px) {
  .right-side {
    display: none;
  }

  .left-side {
    width: 100%;
    min-width: 100%;
  }

  .text-content {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 390px;
  }
}