.input{
    width:400px;
    height:50px;
    margin-top: 25px;
    border: 1px solid rgb(190, 178, 178);
    border-radius: 5px;
    font-weight: bold;
    padding-left: 10px;
}

@media(max-width:650px){
    .input{
        width: 450px;
        margin-right: 60px;
    }
}