@media(max-width:650px){
    #background-image {
        display: none;
    }
    
    .left-side {
        flex: 1 1 100%;
        padding-left: 70px;
    }

    .right-side {
        flex: 0 ;
    }

}

@media(min-width:650px){
    
    .left-side {
        flex: 1 1 50%;
    }

    .right-side {
        flex: 1 1 50%;
    }

    .container {
        min-width: 1000px;
    }
}

.container {
    display: flex;
    height: 100vh;

}

.left-side {
    background-color: #f4f7f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
}

.right-side {
    background-color: white;
    display: flex;
 
}

#background-image {
    width: 100%;
    align-self: center;
}

#sign-up-link {
    color: #529ee6;
    font-weight: 600;
}

#sign-up-text {
    color: gray;
    font-weight: 500;
    margin-bottom: 50px;
}

#login-text {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 15px;
}

.placeholder {
    width: 80%;
    background-color: blue;
    height: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
#login-button {
    width: 80%;
    height: 40px;
    background-color: #3f94e4;
}


#login-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0b67c2;
  }